.card{
    max-width: 350px;
    box-shadow: 2px 2px 2px 2px rgb(199, 199, 199) ;
    background-color: white;
    border-radius: 9px;
    margin-bottom: 9px;
    padding: 9px;
    height: 100%;

}

.img{
    height: 140px;
    width: 350px;
}

.content{
display: flex;
column-gap: 30px;
row-gap: 20px;
flex-wrap: wrap;
margin-top: 20px;
justify-content: center;
/* border: 1px solid red; */
}